/maven-root/*.md
/maven-root/.idea
/maven-root/logs
/zuul-server/target/
/user-service/user-service.iml
/zuul-server/zuul-server.iml
/user-service/target/
/order-service/order-service.iml
/order-service/target/
/message-service/message-service.iml
/message-service/target/
/goods-service/goods-service.iml
/goods-service/target/
/eureka-server/eureka-server.iml
/eureka-server/target/
/config-server/config-server.iml
/config-server/target/
/common-utils/common-utils.iml
/common-utils/target/
/common-entity/common-entity.iml
/common-entity/target/
/api-service/api-service.iml
/api-service/target/
/.idea
/logs/
/shop-user/user-service/user-service.iml
/shop-user/shop-user.iml
/shop-user/user-api/user-api.iml
/shop-goods/goods-service/goods-service.iml
/shop-goods/shop-goods.iml
/shop-goods/goods-api/goods-api.iml
/shop-goods/goods-service/target/
/shop-goods/goods-api/target/
/shop-user/user-api/target/
/shop-user/user-service/target/
/shop-order/order-service/order-service.iml
/shop-order/shop-order.iml
/shop-order/order-api/order-api.iml
/shop-order/order-service/target/
/shop-order/order-api/target/
/shop-message/shop-message.iml
/shop-message/message-service/message-service.iml
/shop-message/message-service/target/
/shop-message/message-api/target/
/shop-message/message-api/message-api.iml
/shop-consumer/target/
